$containerWidth: 1290px;
$containerWidthMax1400: 1140px;
$containerWidthMaxEl: 960px;
$containerWidthMaxL: 720px;
$containerWidthMaxMd: 540px;
$containerWidthMaxSm: 100%;

$el: 1199px;
$l: 991px;
$md: 767px;
$sm: 575px;


$mainFontSize: 14px;

$h1FontSize: 46px;
$h1LineHeight: 100%;
$h2FontSize: 36px;
$h2LineHeight: 110%;
$h4FontSize: 26px;
$h4LineHeight: 120%;


$mainPageColor: #BF2738;
$secondPageColor: #262633;
$regularMainTextColor: #797986;
$regularSecondTextColor: #808080;

$sectionBackgroundColor: #F5F5F5;

$HoverColor: #CC2A3C;
$ActiveColor: #991F2D;


$footerLeftColor: #222225;
$footerRightColor: #2A2A2E;
$footerTextColor: #FFFFFF;
$footerEmailColor: #F23147;
