$containerWidth: 1290px;
$mainFontSize: 14px;
$h1FontSize: 46px;
$h2FontSize: 36px;
$h3FontSize: 26px;
$mainPageColor: #BF2738;
$secondPageColor: #262633;
$regularTextColor: #797986;

$contactsBackgroundColor: #F5F5F5;

$footerLeftColor: #222225;
$footerRightColor: #2A2A2E;
$footerTextColor: #FFFFFF;
